/* 设置宫格容器 */
.expand-play-grid-container {
  display: grid;
  width: 92%;
  height: 92vh; /* 高度自适应全屏 */
  box-sizing: border-box;
  margin: 2vh 4%;
}

/* 设置宫格项 */
.expand-play-grid-item {
  background: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5.51px;
  overflow: hidden;
  background-clip: padding-box;
  -webkit-mask-image: inset(0 0 0 0 round);
  mask-image: inset(0 0 0 0 round);
}
.expand-play-go-other-page {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.expand-play-go-last-page {
  left: 0;
}

.expand-play-go-next-page {
  right: 0;
}